.signup {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.signup form Input {
  height: 50px;
  margin: 30px;
  padding: 10px;
  width: 500px;
  font-size: 15px;
  border: none;
  border-radius: 20px;
}
.signup form Input:focus {
  outline: none;
}
.signup form button {
  height: 50px;
  margin: 30px;
  padding: 10px;
  width: 500px;
  font-size: 15px;
  border: none;
  border-radius: 20px;
  color: aliceblue;
  background-color: #190e4f;
}
.signup form button:hover {
  background-color: #3aafb9;
  color: #19191a;
  font-size: 15px;
}
